/****************************************************************  1199px  ******************************************/
@media(max-width: 1199px) {

}


















/****************************************************************  1199px  ******************************************/
@media(max-width: 767px) {
	.back_img_iks{
		display: none;
	}
	.avtorizatsiya_left{
		max-width: 320px;
		width: 100%;
		padding: 16px;
		margin: 0 auto;
		text-align: center;
	}
	.avtorizatsiya_left form{
		text-align: left;
	}
	.enter_social_set a{
		width: 66px;
	}
	a.logo{
		margin-bottom: 25px;
	}
}